@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --main-color:           #738AFF;
    --main-text-color:      #939393;
    --main-border-color:    #CCC;
    --secondary-color:      #EDEDED;
}

body{
    height: 100%;
     background-image: url("/../img/background-image-1.png");
     background-size: cover;
}
header.row{
}
main.row {
    width: 700px;
    margin: auto;
}

*{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
input, select, textarea {
    opacity: .7;
}

footer.row a{
    width: fit-content;
}
a:hover {
    color: inherit;
}

.primary-color{
    color: var(--main-color) !important;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 0;
}

.content-center{
    justify-content: center;
    text-align: center;
}

svg.small-icon{
    width: 20px;
    color: var(--main-text-color);
}
svg.small-icon:hover{
    color: black;
}

li.btn-secondary{
    margin: 3px 0;
    padding: 0;

    background: var(--secondary-color);
    border: 0.1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 2px;

    color: var(--main-text-color);
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
}
li.btn-secondary:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-color: #b1b1b1;

    color: inherit;
    background: var(--secondary-color);
}

li.btn-secondary:hover .icons{
    display: block;
}
.btn .icons{
    display: none;
    text-align: right;
    position: absolute;
    right: 1%;
}
.btn a:not(.icon){
    padding: 12px 60px;
    width: 100%;
    height: 100%;
    margin: 0;
}
li.btn{
    position: relative;
    display: flex;
    justify-content: center;
}

.fit-items{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.btn-primary{
    width: fit-content;
    padding: 20px 80px;
    background-color: var(--main-color);
    border-color: var(--main-border-color);
}
.btn-primary:hover{
    background: #8292e1;
    border-color: inherit;
}

form.input-time input, form.input-time span.relogio{
    font-size: 230px;
    background: none;
    border: none;
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
    color: var(--main-color);
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}
form.input-time{
    /*background: white;*/
    display: flex;
    flex-direction: column;
}
button.btn.btn-primary{
    margin: auto;
}

.start{
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.end{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10% 50%);
}
.btn-back{
    clip-path: polygon(50% 0, 15% 50%, 50% 100%);
    height: 66px;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    cursor: not-allowed;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: inherit;
    background-color: unset;
    border-color: inherit;
}
form.input-time input:focus-visible {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.form-check{
    display: flex;
}
label.form-check-label {
    margin-left: 20px;
}
.form-check-input {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0;
}
.form-check-input:checked{
    background-color: var(--main-color);
        border-color: var(--main-color);
}

.form-control:disabled, .form-control[readonly] {
    opacity: .6;
    color: #ccc;
}

.clean-select{
    background: none;
    width: fit-content;
    outline: none;
    border: none;
    text-align: center;
}
.clean-select:focus-visible {
    outline: none;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.menu a {
    width: 100%;
}

.menu-icon{
    width: fit-content;
    grid-gap: 2px;

    display: grid;
    grid-template-columns: 1fr 1fr;


}
.menu-icon div{
    width: 34px;
    height: 30px;
    background-color: var(--main-color);
}
.menu-icon:hover div{
    background: #8292e1;
    border-color: inherit;
}
