@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --main-color:           #B1BEFF;
    --main-text-color:      #939393;
    --main-border-color:    #CCC;
    --secondary-color:      #EDEDED;
}

body{
    height: 100%;
     background-image: url("/../img/background-image-1.png");
     background-size: cover;
}

*{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

.primary-color{
    color: var(--main-color) !important;
}

.content-center{
    justify-content: center;
    text-align: center;
}

svg.small-icon{
    width: 20px;
    color: var(--main-text-color);
}
svg.small-icon:hover{
    color: black;
}

li.btn-secondary{
    margin: 3px 0;
    padding: 0;

    background: var(--secondary-color);
    border: 0.1px solid var(--main-border-color);
    box-sizing: border-box;
    border-radius: 2px;

    color: var(--main-text-color);
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
}
li.btn-secondary:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-color: #b1b1b1;

    color: inherit;
    background: var(--secondary-color);
}

li.btn-secondary:hover .icons{
    display: block;
}
.btn .icons{
    display: none;
    text-align: right;
    position: absolute;
    right: 1%;
}
.btn a:not(.icon){
    padding: 12px 60px;
    width: 100%;
    height: 100%;
    margin: 0;
}
li.btn{
    position: relative;
    display: flex;
    justify-content: center;
}

.fit-items{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.btn-primary{
    width: fit-content;
    padding: 10px 30px;
    background-color: var(--main-color);
    border-color: var(--main-border-color);
}
.btn-primary:hover{
    background: #8292e1;
    border-color: inherit;
}