<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizações</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <header th:replace="~{shared\header :: header}"></header>

    <main class="row content-center">

            <div class="row">
                <form action="#" class="input-time container" th:action="@{/activities/create}"  method="post">
                    <div class="row">
                        <input type="number" th:value="${#temporals.format(now, 'HH')}" value="00" style="text-align:end;"
                            minlength="2" maxlength="2" min="00" max="23" aria-valuemax="23" aria-valuemin="00"
                            name="hora" class="col"/> <span class="col-auto relogio">:</span>
                        <input type="number" th:value="${#temporals.format(now, 'mm')}" value="00"
                            minlength="2" maxlength="2" min="00" max="59" aria-valuemax="59" aria-valuemin="00"
                            name="minuto" class="col"/>
                    </div>
                    <div class="row">
                        <p class="fs-4 fw-normal">Bom dia, usuário!</p>
                    </div>
                    <div class="row">
                        <p th:if="${unfinishedActivity} == null">Digite acima o horário de início de sua atividade</p>
                        <p th:if="${unfinishedActivity} != null">
                            Digite acima o horário de finalização iniciada às <span class="fs-5" th:text="${#temporals.format(unfinishedActivity.activity_start,'HH:mm')}"></span>
                        </p>

                    </div>
                    <div class="row">
                    <button type="submit" class="btn btn-primary" th:text="${unfinishedActivity} == null? 'Iniciar' : 'Finalizar'"></button>
                    </div>
                </form>

            </div>

    </main>

    <footer th:replace="~{shared\footer :: footer}"></footer>


</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>