<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizações</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="container">

    <header class="row">
        <div class="col">
            <p class="fs-4 fw-normal" th:text="${data}"></p>
            <p>Horas restantes</p>
        </div>
        <div class="col content-center">
            <p>Bem vindo, usuário</p>
        </div>
        <div class="col text-end">
            <p ><span th:text="${hora}"></span>: <span th:text="${minuto}"></span></p>
        </div>
    </header>

    <!--  CONTEÚDO VISÍVEL SOMENTE SE POSSUIR AO MENOS UMA ORGANIZAÇÃO  -->
    <main class="row content-center" th:if="${not #lists.isEmpty(organizations)}">
        <!--  SELECT DISPONÍVEL APENAS SE HOUVER MAIS DE UMA ORGANIZAÇÃO  -->
        <select name="" class="clean-select fs-4 fw-normal"
                th:if="${#lists.size(organizations) > 1}">
                <option th:each="organization : ${organizations}"
                        th:value="${organization.id}"
                        th:text="${organization.name}" >
                </option>
        </select>
        <!--  PARÁGRAFO DISPONÍVEL APENAS SE HOUVER UMA ÚNICA ORGANIZAÇÃO  -->
        <p th:if="${#lists.size(organizations) == 1}" th:text="${organizations.get(0).name}" class="fs-4 fw-normal"></p>
        <div class="mb-3">
            <label for="" class="form-label">Projeto</label>
            <select name="" class="form-select" onchange="loadProjects()">
                <option th:each="projects : ${projects}"
                        th:value="${projects.id}"
                        th:text="${projects.name}">
                </option>
            </select>

        </div>

        <form action="" th:object="${activity}">

            <input type="hidden" th:field="*{activity_start}">
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="" class="form-label">Etapa</label>
                <select name="" class="form-select">
                    <option th:each="phase : ${phases}" th:value="${phase.id}" th:text="${phase.name}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="">Atividade</label>
                <input type="text" th:field="*{short_description}">
            </div>

            <div>
                <label for="" class="form-label">Detalhes</label>
                <textarea class="form-control mb-3" name="" id="" cols="30" rows="10"
                          th:field="*{short_description}">
                </textarea>
            </div>

            <div class="form-check mb-3" style="justify-content: space-between;">
                <div>
                    <input class="form-check-input" type="checkbox"/>
                    <label class="form-check-label" for="">Descrever depois...</label>
                </div>
                <p><span th:text="${time.hour}"></span>:<span th:text="${time.minute}"></span></p>
            </div>

            <button type="submit" class="btn btn-primary">Registrar atividade</button>

        </form>
        
    </main>

    <footer class="row">
        <a href="javascript:history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" class="small-icon primary-color h-5 w-5" viewBox="0 0 20 20" fill="currentColor"
                 style="width: 40px;"
            >
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
            </svg>
        </a>
    </footer>


</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/activity.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    function loadProjects(){
        
        console.log("Load chamado");

        $.ajax({
            type: 'get',
            url: '/api/projects/organization/1',
            success:    projects => {
                console.log('Deu certo');
                console.log(projects);
            },
            error:      () => {
                console.log("Falhou");
            },
            complete:   () => {
                console.log("Completado");
            }

        })
    }
</script>
</body>

</html>