<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizações</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container layout">
        <header th:replace="~{shared\header :: header}"></header>

        <main class="row">
            <div class="container">
                <h1 class="mb-3"> Projeto</h1>

                <form action="#" method="post"
                      th:action="@{/projects/save}"
                      th:object="${project}">

                    <input  type="hidden"   th:field="*{organization.id}" />
                    <input  type="hidden"   th:field="*{id}"/>

                    <lab>Nome:</lab>
                    <input  type="text"     th:field="*{name}" class="form-control mb-4 col-4
    "                   placeholder="Nome" value="${project.name}"
                    >

                    <button type="submit" class="btn btn-primary col-2 mt-3">Salvar</button>

                </form>

            </div>
        </main>

        <footer th:replace="~{shared\footer :: footer}"></footer>
    </div>


    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
</body>

</html>