<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer th:fragment="footer" class="row">
        <div style="
            display: flex;
            justify-content: space-between;"
        >
            <a href="javascript:history.back()" class="btn btn-primary btn-back">
            </a>
            <a th:href="@{/menu}" class="menu-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </a>
        </div>
    </footer>
</body>
</html>