<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="row" th:fragment="header">
        <div  class="col">
            <p class="fs-4 fw-normal mb-0" th:text="${#temporals.format(now, 'EEEE, dd MMMM')}"></p>
            <p>Horas restantes</p>
        </div>
        <div class="col content-center">
            <p>Bem vindo, usuário</p>
        </div>
        <div class="col text-end">
            <p th:text="${#temporals.format(now, 'HH:mm')}"></p>
        </div>
    </header>
</body>
</html>